@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: lato, sans-serif; }
  * p {
    font-size: 2.5vmin; }
  * h1 {
    font-size: 6vmin; }
  * h2 {
    font-size: 4vmin; }
  * h3 {
    font-size: 3vmin; }
  * label {
    font-size: 2.5vmin;
  }
  * body {
    text-align: left;
    color: #212529; 
    background-color: #E6E6E6;}

header {
  background-color: #0B2A46;
  padding: 5vmin;
  text-align: left;
  font-size: 10vmin;
  color: #ECECEC;
  width: 168vmin;
  left: 30vmin;
  top: 0;
  position: absolute; }

header h2 {
  font-size: 4vmin; }

nav {
  background-color: #3371A1;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  height: 100%;
  width: 30vmin; }

nav ul {
  list-style-type: none;
  padding: 1vmin;
  margin-top: 2vmin; }

nav ul li {
  padding: 1vmin; }

nav ul li a {
  padding: 1.6vmin;
  text-decoration: none;
  font-size: 3vmin;
  color: #efefef;
  display: block; }

section {
  margin-left: 22vmin;
  font-size: 5vmin;
  padding: 1vmin 0vmin;
  top: 40vmin;
  position: absolute;
  width: 168vmin;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

section article {
  width: 160vmin;
  margin-left: 10vmin; }

#Logoer {
  display: flex;
  flex-direction: column; }

#Logoer .logo {
  display: flex;
  flex-wrap: wrap; }

#Logoer .logo img {
  height: 25vmin;
  background-color: #0B2A46;
  padding: 3vmin;
  margin: 2vmin;
  border-radius: 1vmin; }

#Farver {
  display: flex;
  flex-direction: column;}

.color-palette {
  padding: 1vmin; }

.blue-color {
  display: flex;
  flex-direction: row;}

.green-color {
  display: flex;
  flex-direction: row;}

.light-color {
  display: flex;
  flex-direction: row;}

.dark-color {
  display: flex;
  flex-direction: row;}

.dark-blue {
  width: 30vmin;
  height: 25vmin;
  margin: 0.5vmin;
  padding: 0.5vmin;
  border-radius: 1vmin;
  border: 1vmin solid #0B2A46;
  background-color: #0B2A46;
  color: #efefef; }

.blue {
  width: 30vmin;
  height: 25vmin;
  margin: 0.5vmin;
  padding: 0.5vmin;
  border-radius: 1vmin;
  border: 1vmin solid #3371A1;
  background-color: #3371A1;
  color: #efefef; }

.light-blue {
  width: 30vmin;
  height: 25vmin;
  margin: 0.5vmin;
  padding: 0.5vmin;
  border-radius: 1vmin;
  border: 1vmin solid #A9D4ED;
  background-color: #A9D4ED;
  color: #efefef; }

.dark-green {
  width: 30vmin;
  height: 25vmin;
  margin: 0.5vmin;
  padding: 0.5vmin;
  border-radius: 1vmin;
  border: 1vmin solid #4D9E3D;
  background-color: #4D9E3D;
  color: #efefef; }

.green {
  width: 30vmin;
  height: 25vmin;
  margin: 0.5vmin;
  padding: 0.5vmin;
  border-radius: 1vmin;
  border: 1vmin solid #5EBE4B;
  background-color: #5EBE4B;
  color: #efefef; }

.light-green {
  width: 30vmin;
  height: 25vmin;
  margin: 0.5vmin;
  padding: 0.5vmin;
  border-radius: 1vmin;
  border: 1vmin solid #6CDE56;
  background-color: #6CDE56;
  color: #efefef; }

.black {
  width: 30vmin;
  height: 25vmin;
  margin: 0.5vmin;
  padding: 0.5vmin;
  border-radius: 1vmin;
  border: 1vmin solid #262525;
  background-color: #262525;
  color: #efefef; }

.dark-grey{
  width: 30vmin;
  height: 25vmin;
  margin: 0.5vmin;
  padding: 0.5vmin;
  border-radius: 1vmin;
  border: 1vmin solid #3B3B3B;
  background-color: #3B3B3B;
  color: #efefef; }

.grey {
  width: 30vmin;
  height: 25vmin;
  margin: 0.5vmin;
  padding: 0.5vmin;
  border-radius: 1vmin;
  border: 1vmin solid #C1C1C1;
  background-color: #C1C1C1;
  color: #efefef; }

.light-grey {
  width: 30vmin;
  height: 25vmin;
  margin: 0.5vmin;
  padding: 0.5vmin;
  border-radius: 1vmin;
  border: 1vmin solid #DCDCDC;
  background-color: #DCDCDC;
  color: #262525; }

.off-white{
  width: 30vmin;
  height: 25vmin;
  margin: 0.5vmin;
  padding: 0.5vmin;
  border-radius: 1vmin;
  border: 1vmin solid #E6E6E6;
  background-color: #E6E6E6;
  color: #262525; }

.white {
  width: 30vmin;
  height: 25vmin;
  margin: 0.5vmin;
  padding: 0.5vmin;
  border-radius: 1vmin;
  border: 1vmin solid #ECECEC;
  background-color: #ECECEC;
  color: #262525; }

#Ikoner {
  display: flex;
  flex-direction: column;}

button {
  width: 20vmin;
  height: 8vmin;
}

.ikke-aktiv {
  text-align: center;
  justify-content: center;
  border: 0.5vmin solid #0B2A46;
  border-radius: 0.5vmin;
  background-color: #0B2A46;
  color: #ECECEC;
  font-size: 1.5vmin;
}

.aktiv {
  text-align: center;
  justify-content: center;
  border: 0.5vmin solid #ECECEC;
  border-radius: 0.5vmin;
  background-color: #ECECEC;
  color: #0B2A46;
  font-size: 1.5vmin;
}

Indsæt boks CSS her

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-img {
  width: 30vmin;
  padding: 1vmin;
}

.illustration-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-illustration img {
  width: 25vmin;
  height: 25vmin;
  padding: 1vmin;
}

.gallery-illustration-wide img {
  width: 25vmin;
  padding: 1vmin;
}

.gallery-illustration-big img {
  width: 40vmin;
  padding: 1vmin;
}
Sæt form ind her mohamed

.kontakt-form {
  width: 64vmin;
}

.Besked {
  width: 62vmin;
  height: 20vmin;
  background-color: #ECECEC;
  border: #C1C1C1 solid 0.5vmin;
  border-radius: 0.5vmin;
  color: #C1C1C1;
  margin: 1vmin;
  padding-left: 0.5vmin;
}

.kontakt-knap {
  text-align: center;
}

.send {
  width: 35vmin;
  text-align: center;
  justify-content: center;
  border: 0.5vmin solid #0B2A46;
  border-radius: 0.5vmin;
  background-color: #0B2A46;
  color: #ECECEC;
  font-size: 1.5vmin;
}

.topnav {
  overflow: hidden;
  background-color: #0B2A46;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5vmin 3vmin;
  text-decoration: none;
  font-size: 2.5vmin;
}

.topnav a:hover {
  background-color: #DCDCDC;
  color: black;
}

.topnav a.active {
  background-color: #3371A1;
  color: white;
}

.topnav-right {
  float: right;
}

.nav-logo {
  padding: 2.5vmin 3vmin;
}
.profil {
  width: 3vmin;
}
